--
-- PostgreSQL database dump
--

\restrict LbWhVetkyu17sNQb4tp3KszH4y5Aqopg4t5D03mkiY6aPGNaonzxVdVfaBQhngY

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: LoanStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LoanStatus" AS ENUM (
    'PENDING',
    'DISBURSED',
    'REJECTED'
);


ALTER TYPE public."LoanStatus" OWNER TO postgres;

--
-- Name: MemberStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MemberStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."MemberStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AdminUser" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO postgres;

--
-- Name: AgentMonthlyTarget; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AgentMonthlyTarget" (
    id text NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL,
    "targetAmount" double precision NOT NULL,
    "targetLoanCount" integer NOT NULL,
    "teamMemberId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AgentMonthlyTarget" OWNER TO postgres;

--
-- Name: LoanEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LoanEntry" (
    id text NOT NULL,
    "loanReference" text NOT NULL,
    "loanType" text NOT NULL,
    "loanAmount" double precision NOT NULL,
    "amountDisbursed" double precision,
    status public."LoanStatus" DEFAULT 'PENDING'::public."LoanStatus" NOT NULL,
    "createdDate" timestamp(3) without time zone NOT NULL,
    "disbursedDate" timestamp(3) without time zone,
    notes text,
    "teamMemberId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LoanEntry" OWNER TO postgres;

--
-- Name: TeamMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeamMember" (
    id text NOT NULL,
    "fullName" text NOT NULL,
    "employmentNumber" text NOT NULL,
    "monthsInService" integer NOT NULL,
    status public."MemberStatus" DEFAULT 'ACTIVE'::public."MemberStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TeamMember" OWNER TO postgres;

--
-- Name: TeamMonthlyTarget; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeamMonthlyTarget" (
    id text NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL,
    "targetAmount" double precision NOT NULL,
    "targetLoanCount" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TeamMonthlyTarget" OWNER TO postgres;

--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AdminUser" (id, name, email, "passwordHash", "createdAt", "updatedAt") FROM stdin;
fbfb4f5c-82d8-444f-a499-2be2d6c46893	Brimo	admin@brimo.com	$2b$10$SWNpYamu/CsfenTnYasBiexhOPTwjvaOYrQ2f3XZyfET.LSoESlZi	2026-04-09 12:27:29.461	2026-04-09 12:27:29.461
\.


--
-- Data for Name: AgentMonthlyTarget; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LoanEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TeamMember; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TeamMonthlyTarget; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TeamMonthlyTarget" (id, month, year, "targetAmount", "targetLoanCount", "createdAt", "updatedAt") FROM stdin;
b5b5b914-7431-4011-9b78-5810e1110f84	4	2026	1150000	70	2026-04-09 12:38:18.966	2026-04-09 23:40:26.852
\.


--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: AgentMonthlyTarget AgentMonthlyTarget_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AgentMonthlyTarget"
    ADD CONSTRAINT "AgentMonthlyTarget_pkey" PRIMARY KEY (id);


--
-- Name: LoanEntry LoanEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LoanEntry"
    ADD CONSTRAINT "LoanEntry_pkey" PRIMARY KEY (id);


--
-- Name: TeamMember TeamMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember"
    ADD CONSTRAINT "TeamMember_pkey" PRIMARY KEY (id);


--
-- Name: TeamMonthlyTarget TeamMonthlyTarget_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMonthlyTarget"
    ADD CONSTRAINT "TeamMonthlyTarget_pkey" PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: AgentMonthlyTarget_teamMemberId_month_year_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AgentMonthlyTarget_teamMemberId_month_year_key" ON public."AgentMonthlyTarget" USING btree ("teamMemberId", month, year);


--
-- Name: LoanEntry_loanReference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LoanEntry_loanReference_key" ON public."LoanEntry" USING btree ("loanReference");


--
-- Name: TeamMember_employmentNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TeamMember_employmentNumber_key" ON public."TeamMember" USING btree ("employmentNumber");


--
-- Name: TeamMonthlyTarget_month_year_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TeamMonthlyTarget_month_year_key" ON public."TeamMonthlyTarget" USING btree (month, year);


--
-- Name: AgentMonthlyTarget AgentMonthlyTarget_teamMemberId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AgentMonthlyTarget"
    ADD CONSTRAINT "AgentMonthlyTarget_teamMemberId_fkey" FOREIGN KEY ("teamMemberId") REFERENCES public."TeamMember"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LoanEntry LoanEntry_teamMemberId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LoanEntry"
    ADD CONSTRAINT "LoanEntry_teamMemberId_fkey" FOREIGN KEY ("teamMemberId") REFERENCES public."TeamMember"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict LbWhVetkyu17sNQb4tp3KszH4y5Aqopg4t5D03mkiY6aPGNaonzxVdVfaBQhngY

